<!DOCTYPE html>
<html lang="eng">
<head>
  <link rel="icon" href="{{ url_for('static', filename ='pics/favicon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>theBLMHub</title>
</head>


  
<body>
  <div id="page-wrapper">
  <section id="header">
  <div style="padding-bottom: 6em;" class="container">
    <nav id="nav">
        <ul style="text-align: center;">
          <li><a class="current" href="{{ url_for('home') }}"><span>HOME</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('resources') }}"><span>DONATE</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('protest') }}"><span>PROTEST</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('volunteer') }}"><span>VOLUNTEER</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('faq') }}"><span>FAQ's</span></a></li>

          <li><a class="button1 not-active" href="{{ url_for('aboutus') }}"><span>ABOUT US</span></a></li>
        </ul>
    </nav>
  </div>
  </section>



  <div class="container" style="font-family: 'Antic Slab';">
    <img src="{{ url_for('static', filename ='pics/logo.jpeg') }}" alt="logo" style="display: block; margin-left: auto; margin-right: auto; padding-bottom: 0; max-width: 20%">
    <h1 class="big-header" style="text-align: center; font-size: 400%; color: #505154;">Welcome to <span style="color: #ed786a;">the BLM HUB</span></h1>

    <div class="container" style="padding-bottom: 10em;">

                        <header>
                            <h2 style="color: #777a7e"><span style="color: #ed786a">theBLMHub</span> works to connect those affected by the protests with volunteers who
                                can provide support. We also aim to battle inaction by providing a personalized
                                compilation of action items for everyone.</h2>
                            <div id="outer" style="text-align: center;">
                                            <div class="inner"><a id="help_button" target="_blank" href="#help_form">
                                        <button class="button" style="vertical-align:middle; font-size: 175%;"><span>I NEED HELP</span></button>
                                        </a></div></div>
                        </header>

						<div class="row aln-center">
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img style="max-width:100%; max-height: 200%" src="{{ url_for('static', filename ='pics/Volunteer.jpg') }}" alt="" /></a>
										<div id="outer" style="text-align: center;">
                                            <div class="inner"><a target="_blank" href="{{ url_for('volunteer') }}">
                                        <button class="button" style="vertical-align:middle; text-align: center; background-color: #777a7e"><span>VOLUNTEER</span></button>
                                        </a></div></div>
										<p>Sign up to provide assistance to those affected by the protests.</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img style="max-width:100%; max-height: 200%" src="{{ url_for('static', filename ='pics/Protest.jpg') }}" alt="" /></a>
										<div id="outer" style="text-align: center;">
                                            <div class="inner"><a target="_blank" href="{{ url_for('protest') }}">
                                        <button class="button" style="vertical-align:middle; text-align: center; background-color: #777a7e"><span>PROTEST</span></button>
                                        </a></div></div>
										<p>Find maps of protests. Make sure to be safe and prioritize your health.</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img style="max-width:100%; max-height: 200%" src="{{ url_for('static', filename ='pics/Donate.jpg') }}" alt="" /></a>
										<div id="outer" style="text-align: center;">
                                            <div class="inner"><a target="_blank" href="{{ url_for('resources') }}">
                                        <button class="button" style="vertical-align:middle; text-align: center; background-color: #777a7e"><span>DONATE</span></button>
                                        </a></div></div>
										<p>Donate to bail funds, black businesses, and organizations committed to black success.</p>
                                    </section>

							</div>
						</div>
					</div>

    <h1 id="help_form" style="text-align: center; color: #777a7e;">Need Assistance?</h1>
    <p style="text-align: center;">Fill out the form to be matched with volunteers in your area that can provide the assistance you need.</p>
    <form action="/" style="font-family: 'Antic Slab';" method="POST">

      <label>Level of Urgency</label>
      <select id="help" name="data">
      <option value="critical">Critical</option>
      <option value="high">High</option>
      <option value="medium">Medium(Normal)</option>
        <option value="low">Low</option>
    </select>

    <label for="fname" style="padding-top: 1em;">First Name</label>
    <input type="text" id="fname" name="data" placeholder="Your name..">

    <label for="lname" style="padding-top: 1em;">Last Name</label>
    <input type="text" id="lname" name="data">

    <label for="zipcode" style="padding-top: 1em;">Zip Code</label>
    <input type="text" id="zipcode" name="data">

    <label for="email" style="padding-top: 1em;">Email</label>
    <input type="text" id="zipcode" name="data">

    <label for="phone" style="padding-top: 1em;">Phone Number</label>
    <input type="text" id="zipcode" name="data">

    <label>What type of help do you need?</label>
    <select id="help" name="data">
      <option value="Medical">Medical</option>
      <option value="Legal">Legal</option>
      <option value="Other">Other</option>
    </select>

    <label style="padding-top: 1em;">If you typed other, please explain</label>
     <br>
     <textarea rows = "5" cols = "60" name = "data">
     </textarea><br>

    <input type="submit" value="Get Help">
  </form>
  </div>

  <div>
    <p style="text-align: center;">Made Interactive with HTML5UP</p>
  </div>
  </div>

  <!-- Scripts -->
      <script src="{{ url_for('static', filename ='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename ='js/jquery.dropotron.min.js') }}"></script>
      <script src="{{ url_for('static', filename ='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename ='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename ='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename ='js/main.js') }}"></script>

</body>
</html>

