<!DOCTYPE html>
<html lang="eng">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Resources</title>
</head>
<body>
  <div style="padding-bottom: 6em">
    <nav id="nav">
        <ul style="text-align: center; ">
          <li><a class="button1 not-active" href="{{ url_for('home') }}"><span>HOME</span></a></li>
          <li><a class="current" href="{{ url_for('resources') }}"><span>RESOURCES</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('learn') }}"><span>LEARN</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('volunteer') }}"><span>VOLUNTEER</span></a></li>
          <li><a class="button1 not-active" href="{{ url_for('aboutus') }}"><span>ABOUT US</span></a></li>
    </nav>
  </div>
  <div class="container">
            <div class="row">

              <!-- Content -->
                 <div style="text-align: center; width: 100%;">
                                  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
                                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1JjnI2jGmHx_cU4zXzii8QvGJtEN00GDO" width="500px" height="400px"></iframe>
                 </div>
                <div id="content" class="col-8 col-12-medium">

                  <!-- Post -->
                    <article class="box post">
                      <div>
                                {% for table in tables %}
                                          {{ table|safe }}
                                {% endfor %}
                      </div>
                    </article>
                </div>

  
                <div id="sidebar" class="col-4 col-12-medium">

                            <!-- Excerpts -->
                              <section>
                                <button onclick="window.location.href='{{ url_for('learn') }}';">
                                  I don't know where to start
                                </button>
                                <header>
                                  <h2 style="color: #32322F; vertical-align: middle;">Filter Results</h2>
                                </header>
                                <ul class="divided" style="list-style-type: none;">
                                  <li>
                                    <!-- Excerpt -->
                                      <article class="box excerpt">
                                        <form method="POST" action="/resources/">
                                          <label>
                                          <input style="vertical-align: middle;" type="checkbox" value="Support Black Organizations" name="filters">Support Black Organizations</label>
                                          <label>
                                          <input style="vertical-align: middle;" type="checkbox" value="Bail Funds" name="filters">Bail Funds</label>
                                          <label>
                                          <input style="vertical-align: middle;" type="checkbox" value="Petitions" name="filters">Petitions</label>
                                          <label>
                                          <input style="vertical-align: middle;" type="checkbox" value = "Organizations" name="filters">
                                          Organizations</label>
                                          <input type="submit">
                                        </form>
                                      </article>

                                  </li>
                          
                                </ul>


                              </section>
                </div>
            </div>
  </div>
  <div>
    <p style="text-align: center"> Made Interactive with HTML5UP</p>
  </div>
</body>
</html>

